<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pian</key>
		<string>ア</string>
		<key>ping</key>
		<string>あ</string>
		<key>roma</key>
		<string>a</string>
	</dict>
    <dict>
        <key>pian</key>
        <string>イ</string>
        <key>ping</key>
        <string>い</string>
        <key>roma</key>
        <string>i</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ウ</string>
        <key>ping</key>
        <string>う</string>
        <key>roma</key>
        <string>u</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>エ</string>
        <key>ping</key>
        <string>え</string>
        <key>roma</key>
        <string>e</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>オ</string>
        <key>ping</key>
        <string>お</string>
        <key>roma</key>
        <string>o</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>カ</string>
        <key>ping</key>
        <string>か</string>
        <key>roma</key>
        <string>ka</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>キ</string>
        <key>ping</key>
        <string>き</string>
        <key>roma</key>
        <string>ki</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ク</string>
        <key>ping</key>
        <string>く</string>
        <key>roma</key>
        <string>ku</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ケ</string>
        <key>ping</key>
        <string>け</string>
        <key>roma</key>
        <string>ke</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>コ</string>
        <key>ping</key>
        <string>こ</string>
        <key>roma</key>
        <string>ko</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>サ</string>
        <key>ping</key>
        <string>さ</string>
        <key>roma</key>
        <string>sa</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>シ</string>
        <key>ping</key>
        <string>し</string>
        <key>roma</key>
        <string>shi</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ス</string>
        <key>ping</key>
        <string>す</string>
        <key>roma</key>
        <string>su</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>セ</string>
        <key>ping</key>
        <string>せ</string>
        <key>roma</key>
        <string>se</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ソ</string>
        <key>ping</key>
        <string>そ</string>
        <key>roma</key>
        <string>so</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>タ</string>
        <key>ping</key>
        <string>た</string>
        <key>roma</key>
        <string>ta</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>チ</string>
        <key>ping</key>
        <string>ち</string>
        <key>roma</key>
        <string>chi</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ツ</string>
        <key>ping</key>
        <string>つ</string>
        <key>roma</key>
        <string>tsu</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>テ</string>
        <key>ping</key>
        <string>て</string>
        <key>roma</key>
        <string>te</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ト</string>
        <key>ping</key>
        <string>と</string>
        <key>roma</key>
        <string>to</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>な</string>
        <key>ping</key>
        <string>ナ</string>
        <key>roma</key>
        <string>na</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ニ</string>
        <key>ping</key>
        <string>に</string>
        <key>roma</key>
        <string>ni</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ヌ</string>
        <key>ping</key>
        <string>ぬ</string>
        <key>roma</key>
        <string>nu</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ネ</string>
        <key>ping</key>
        <string>ね</string>
        <key>roma</key>
        <string>ne</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ノ</string>
        <key>ping</key>
        <string>の</string>
        <key>roma</key>
        <string>no</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ハ</string>
        <key>ping</key>
        <string>は</string>
        <key>roma</key>
        <string>ha</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ヒ</string>
        <key>ping</key>
        <string>ひ</string>
        <key>roma</key>
        <string>hi</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>フ</string>
        <key>ping</key>
        <string>ふ</string>
        <key>roma</key>
        <string>hu</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ヘ</string>
        <key>ping</key>
        <string>へ</string>
        <key>roma</key>
        <string>he</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ホ</string>
        <key>ping</key>
        <string>ほ</string>
        <key>roma</key>
        <string>ho</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>マ</string>
        <key>ping</key>
        <string>ま</string>
        <key>roma</key>
        <string>ma</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ミ</string>
        <key>ping</key>
        <string>み</string>
        <key>roma</key>
        <string>mi</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ム</string>
        <key>ping</key>
        <string>む</string>
        <key>roma</key>
        <string>mu</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>メ</string>
        <key>ping</key>
        <string>め</string>
        <key>roma</key>
        <string>me</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>モ</string>
        <key>ping</key>
        <string>も</string>
        <key>roma</key>
        <string>mo</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ヤ</string>
        <key>ping</key>
        <string>や</string>
        <key>roma</key>
        <string>ya</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ユ</string>
        <key>ping</key>
        <string>ゆ</string>
        <key>roma</key>
        <string>yu</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ヨ</string>
        <key>ping</key>
        <string>よ</string>
        <key>roma</key>
        <string>yo</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ラ</string>
        <key>ping</key>
        <string>ら</string>
        <key>roma</key>
        <string>ra</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>り</string>
        <key>ping</key>
        <string>リ</string>
        <key>roma</key>
        <string>ri</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ル</string>
        <key>ping</key>
        <string>る</string>
        <key>roma</key>
        <string>ru</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>レ</string>
        <key>ping</key>
        <string>れ</string>
        <key>roma</key>
        <string>re</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ロ</string>
        <key>ping</key>
        <string>ろ</string>
        <key>roma</key>
        <string>ro</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ワ</string>
        <key>ping</key>
        <string>わ</string>
        <key>roma</key>
        <string>wa</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ヲ</string>
        <key>ping</key>
        <string>を</string>
        <key>roma</key>
        <string>wo</string>
    </dict>
    <dict>
        <key>pian</key>
        <string>ン</string>
        <key>ping</key>
        <string>ん</string>
        <key>roma</key>
        <string>n</string>
    </dict>
</array>
</plist>
